body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.name-highlight{
    color: hotpink;
}
h1{
    font-size: 40px;

}
h2{
    font size: 50px;
}
p{
    color: dimgray;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;


}
section{
    height: 800px;
    padding-bottom: 150px;

}


.half-width img{
    width: 90%;
    

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, hotpink, pink);
    background-color:hotpink;
    padding: 10px 20px;
    border-radius: 5px; 
    color: white;
    font-weight: 700;

}
.bio-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    padding-top: 200px;
}
.latest-work{
    background-image: url('images/latest-work-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    text-align: center;
    padding: 60px 0;
}
.work-items img{
    height: 100%;
    width: 31.2%;
    float: left;
    padding: 0 20px 0 0;
}

.client-area{
    background-image: url('images/footer-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.client-area{
    padding: 0 350px;
    text-align: center;
}
.client-say h2{
    padding: 70px 0;
}
.client-say h4{
    padding-bottom: 50px;
    color: #ec4c7a;
}
.client-say p{
    font-size: 15px; 
    padding-bottom: 50px;   
}
.client-work{
    padding: 0 280px;
}
.contact{
    background-color:rgb(236, 76, 122);
    border-radius: 15px;
    
    
}
.contact h5{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    padding-top: 20px;
}
.contact a{
    color: rgb(255, 255, 255);
    padding: 50px 230px;
    display: block;
    text-align: center;
    text-decoration: none;
}

